<nav class="navbar navbar-expand-lg p-3 navbar-dark bg-orange">
    <div class="container-fluid">
      <a class="navbar-brand logo-colpan" routerLink="/"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['produccion']" routerLinkActive="active">Producción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['inventario']" routerLinkActive="active">Inventario</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['bd-materia-prima']" routerLinkActive="active">Materia prima</a></li>
              <li><a class="dropdown-item" [routerLink]="['bd-recetas']" routerLinkActive="active">Fórmulas recetas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['bd-bodegas']" routerLinkActive="active">Bodegas</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>