<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-12 col-lg-4 overflow border-right">
            <div class="row pt-2 pt-sm-2 pt-lg-3">
                <div class="col-md-12">
                    <span class="badge bg-warning w-100 puntero size-text-25">Ponque x6</span>
                </div>
            </div>
            <div class="row pt-2 pt-sm-2 pt-lg-3">
                <div class="col-md-12">
                    <span class="badge bg-warning w-100 puntero size-text-25">Pan lonchi</span>
                </div>
            </div>
            <div class="row pt-2 pt-sm-2 pt-lg-3">
                <div class="col-md-12">
                    <span class="badge bg-warning w-100 puntero size-text-25">Tostados</span>
                </div>
            </div>
            <div class="row pt-2 pt-sm-2 pt-lg-3">
                <div class="col-md-12">
                    <span class="badge bg-warning w-100 puntero size-text-25">Trike</span>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-12 col-lg-8">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <h2>Ponque x6</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="p-mb-1">Cantidad requerida: 2 Batidas</p>
                    <p class="p-mb-1">Producción aproximada: 500</p>
                    <p class="p-mb-1">Paquetes aproximados: 90</p>
                </div>
            </div>
            <div class="row bajar-procesos">
                <div class="col-md-12">
                    <span class="badge bg-verde puntero w-100 size-text-25">Iniciar proceso producción <i class="fas fa-check-circle"></i></span>
                </div>
            </div>
            <div class="row pt-md-3 pt-2 pt-sm-2 pt-lg-3">
                <div class="col-md-12">
                    <span class="badge bg-grisclaro puntero w-100 size-text-25">Terminar proceso producción <i class="fas fa-clock"></i></span>
                </div>
            </div>
            <div class="row pt-md-3 pt-2 pt-sm-2 pt-lg-3">
                <div class="col-md-12">
                    <span class="badge bg-grisclaro puntero w-100 size-text-25">Iniciar proceso de empaque <i class="fas fa-clock"></i></span>
                </div>
            </div>
            <div class="row pt-md-3 pt-2 pt-sm-2 pt-lg-3">
                <div class="col-md-12">
                    <span class="badge bg-grisclaro puntero w-100 size-text-25">Terminar proceso de empaque <i class="fas fa-clock"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
