*{
    margin: 0;
    padding: 0;
}
.bg-orange{
    background-color: #ff9213;
}
.btn-orange-add{
    background-color: #ff9213;
    border-radius: 20px;
    color: #fff
    ;
}
.text-orange{
    background-color: #ff9213;
}